{
  "openapi": "3.0.0",
  "info": {
    "title": "Drata API",
    "description": "REST API powering partners and friends 🏄 <br/><br/>When importing into Postman, the folders will be organized by Postman's default hierarchy of <code>Paths</code>. This will appear mismatched with Drata's developer documentation here. In order for it to match our docs, please change the folder organization to <code>Tags</code> in the Import Settings. See below: <br/><br/>1. Open Postman <br/>2. Click on <code>Import</code> in the top left hand corner <br/>3. Select the swagger file to import but don't import just yet <br/>4. Once selected, click on <code>View Import Settings</code> <br/>5. Scroll down to Folder organization: it's defaulted to <code>Paths</code>; change this to <code>Tags</code> <br/>6. Click the back arrow to go back to the import screen and click Import <br/>7. Done!",
    "version": "V1",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://public-api.drata.com/public"
    },
    {
      "url": "https://public-api.eu.drata.com/public"
    },
    {
      "url": "https://public-api.apac.drata.com/public"
    }
  ],
  "tags": [],
  "paths": {
    "/workspaces/{workspaceId}/autopilot/{testId}/retest": {
      "post": {
        "description": "Run an autopilot test\n\n🔒 Requires **Monitoring: Trigger Monitor Test** permission.",
        "operationId": "AutopilotPublicController_retest",
        "parameters": [
          {
            "name": "testId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "workspaceId",
            "required": true,
            "in": "path",
            "description": "The Workspace ID associated to the Account",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "409": {
            "description": "There is a conflict in the business rules with this request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Run an autopilot test by test id",
        "tags": [
          "Autopilot"
        ],
        "x-drata-permissions": [
          "monitors-post-retest"
        ],
        "x-product-area": [
          "ADAPTIVE_AUTOMATION_AND_CREATE_NEW_TEST"
        ]
      }
    },
    "/connections": {
      "get": {
        "description": "Find managed connections by provider type and current state\n\n🔒 Requires **Connections: List Connections** permission.",
        "operationId": "ConnectionsPublicController_getConnections",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Which page of data are you requesting",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "How many items are you requesting",
            "schema": {
              "minimum": 1,
              "maximum": 50,
              "default": 20,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which type of sort (default: CREATED)",
            "schema": {
              "enum": [
                "CREATED_AT",
                "CONNECTED_AT",
                "CONNECTION_PROVIDER_TYPE",
                "CONNECTION_CLIENT_TYPE",
                "CONNECTION_STATE"
              ],
              "type": "string"
            }
          },
          {
            "name": "sortDir",
            "required": false,
            "in": "query",
            "description": "Which direction to sort the data (default: ASC)",
            "schema": {
              "enum": [
                "ASC",
                "DESC"
              ],
              "type": "string"
            }
          },
          {
            "name": "providerTypes",
            "required": false,
            "in": "query",
            "description": "Connection provider types",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ProviderTypeEnum"
              }
            }
          },
          {
            "name": "state",
            "required": false,
            "in": "query",
            "description": "Connection current state",
            "schema": {
              "enum": [
                "ACTIVE",
                "MISCONFIGURED",
                "CONFIGURED_PENDING_CONFIRMATION",
                "IN_PROGRESS"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionsCompactResponsePublicDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "List managed connections given the provided filters",
        "tags": [
          "Connections"
        ],
        "x-drata-permissions": [
          "connections-get"
        ],
        "x-product-area": [
          "CONNECTIONS_UI"
        ]
      }
    },
    "/connections/upload/csv": {
      "post": {
        "description": "Create an IdP connection requires a file to complete the process\n\n🔒 Requires **Personnel: Import Personnel** permission.",
        "operationId": "ConnectionsPublicController_createIdpConnectionWithCsvFile",
        "parameters": [],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create an IdP connection with file",
        "tags": [
          "Connections"
        ],
        "x-drata-permissions": [
          "personnel-importing"
        ],
        "x-product-area": [
          "CONNECTIONS_UI"
        ]
      }
    },
    "/connections/{id}/upload/csv": {
      "put": {
        "description": "Update an IdP connection that requires a file to complete the process\n\n🔒 Requires **Personnel: Import Personnel** permission.",
        "operationId": "ConnectionsPublicController_updateIdpConnectionWithCsvFile",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "update an IdP connection with file",
        "tags": [
          "Connections"
        ],
        "x-drata-permissions": [
          "personnel-importing"
        ],
        "x-product-area": [
          "CONNECTIONS_UI"
        ]
      }
    },
    "/connections/upload/json": {
      "post": {
        "description": "Create an IdP connection that requires personnel list to complete the process\n\n🔒 Requires **Personnel: Import Personnel** permission.",
        "operationId": "ConnectionsPublicController_createIdpConnectionWithJsonFile",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectionJsonIdpRequestPublicDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create an IdP connection with personnel list",
        "tags": [
          "Connections"
        ],
        "x-drata-permissions": [
          "personnel-importing"
        ],
        "x-product-area": [
          "CONNECTIONS_UI"
        ]
      }
    },
    "/connections/{id}/upload/json": {
      "put": {
        "description": "Update an IdP connection that requires personnel list to complete the process\n\n🔒 Requires **Personnel: Import Personnel** permission.",
        "operationId": "ConnectionsPublicController_updateIdpConnectionWithJsonFile",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConnectionJsonIdpRequestPublicDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update an IdP connection with personnel list",
        "tags": [
          "Connections"
        ],
        "x-drata-permissions": [
          "personnel-importing"
        ],
        "x-product-area": [
          "CONNECTIONS_UI"
        ]
      }
    },
    "/workspaces": {
      "get": {
        "description": "List workspaces for an account\n\n🔒 Requires **Workspaces: List Workspaces** permission.",
        "operationId": "WorkspacesPublicController_listWorkspaces",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Which page of data are you requesting",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "How many items are you requesting",
            "schema": {
              "minimum": 1,
              "maximum": 50,
              "default": 20,
              "type": "number"
            }
          },
          {
            "name": "q",
            "required": false,
            "in": "query",
            "description": "Filter data to search term",
            "schema": {
              "example": "Acme",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspacesResponsePublicDto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "List workspaces",
        "tags": [
          "Multiple Workspace Support"
        ],
        "x-drata-permissions": [
          "workspaces-get"
        ],
        "x-product-area": [
          "WORKSPACE_PLATFORM"
        ]
      }
    },
    "/company/info": {
      "get": {
        "description": "Get company info\n\n🔒 Requires **Company Settings: Get Company Settings** permission.",
        "operationId": "CompaniesPublicController_getCompany",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponsePublicDto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get company info",
        "tags": [
          "Companies"
        ],
        "x-drata-permissions": [
          "company-settings-get-info"
        ],
        "x-product-area": [
          "COMPANY_INFO"
        ]
      }
    },
    "/controls": {
      "get": {
        "description": "List Controls given the provided search terms and filters\n\n🔒 Requires **Controls: List Controls** permission.",
        "operationId": "GRCPublicController_getControls",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Which page of data are you requesting",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "How many items are you requesting",
            "schema": {
              "minimum": 1,
              "maximum": 50,
              "default": 20,
              "type": "number"
            }
          },
          {
            "name": "q",
            "required": false,
            "in": "query",
            "description": "Filter data by searching for control names, codes, or descriptions",
            "schema": {
              "example": "Least-Privileged Policy for Customer Data Access",
              "type": "string"
            }
          },
          {
            "name": "frameworkTags",
            "required": false,
            "in": "query",
            "description": "Filter data by controls associated with these framework tags",
            "schema": {
              "example": [
                "SOC_2",
                "ISO27001"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "NONE",
                  "SOC_2",
                  "ISO27001",
                  "CCPA",
                  "GDPR",
                  "HIPAA",
                  "PCI",
                  "SCF",
                  "NIST80053",
                  "NISTCSF",
                  "CMMC",
                  "NIST800171",
                  "MSSSPA",
                  "FFIEC",
                  "ISO27701",
                  "COBIT",
                  "SOX_ITGC",
                  "ISO270012022",
                  "CCM",
                  "CYBER_ESSENTIALS",
                  "ISO270172015",
                  "ISO270182019",
                  "FEDRAMP",
                  "NISTAI",
                  "PCI4",
                  "NISTCSF2",
                  "NIS2",
                  "DORA",
                  "ISO420012023",
                  "DRATA_ESSENTIALS",
                  "NIST800171R3",
                  "CIS8",
                  "CYBER_ESSENTIALS_32",
                  "FEDRAMP20X",
                  "HITRUST",
                  "MSSSPA11",
                  "ESSENTIAL_EIGHT",
                  "NYDFS",
                  "TISAX",
                  "ISO270182025",
                  "CCPA2026",
                  "ISO277012025",
                  "CPS230",
                  "CUSTOM",
                  "ALL"
                ]
              }
            }
          },
          {
            "name": "frameworkSlug",
            "required": false,
            "in": "query",
            "description": "Filter data by controls associated with these custom framework Slug",
            "schema": {
              "example": "soc2",
              "type": "string"
            }
          },
          {
            "name": "trustServiceCriterion",
            "required": false,
            "in": "query",
            "description": "Filter controls on their Trust Service Criteria",
            "schema": {
              "example": [
                "AVAILABILITY"
              ],
              "enum": [
                "AVAILABILITY",
                "CONFIDENTIALITY",
                "SECURITY",
                "PRIVACY",
                "PROCESS_INTEGRITY",
                "GENERAL_RULES",
                "ADMINISTRATIVE_SAFEGUARDS",
                "PHYSICAL_SAFEGUARDS",
                "TECHNICAL_SAFEGUARDS",
                "REQUIREMENTS_ORGANIZATION",
                "REQUIREMENTS_POLICIES_PROCEDURES",
                "BASIC",
                "DERIVED",
                "NIST80053_PRIVACY"
              ],
              "type": "string"
            }
          },
          {
            "name": "trustServiceCriteria",
            "required": false,
            "in": "query",
            "description": "Filter controls on their Trust Service Criteria",
            "schema": {
              "example": [
                "AVAILABILITY",
                "CONFIDENTIALITY"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AVAILABILITY",
                  "CONFIDENTIALITY",
                  "SECURITY",
                  "PRIVACY",
                  "PROCESS_INTEGRITY",
                  "GENERAL_RULES",
                  "ADMINISTRATIVE_SAFEGUARDS",
                  "PHYSICAL_SAFEGUARDS",
                  "TECHNICAL_SAFEGUARDS",
                  "REQUIREMENTS_ORGANIZATION",
                  "REQUIREMENTS_POLICIES_PROCEDURES",
                  "BASIC",
                  "DERIVED",
                  "NIST80053_PRIVACY"
                ]
              }
            }
          },
          {
            "name": "ismsCategory",
            "required": false,
            "in": "query",
            "description": "Filter controls on their ISMS requirements",
            "schema": {
              "example": [
                "CONTEXT_OF_THE_ORGANIZATION",
                "LEADERSHIP"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CONTEXT_OF_THE_ORGANIZATION",
                  "LEADERSHIP",
                  "PLANNING",
                  "SUPPORT",
                  "OPERATION",
                  "PERFORMANCE_EVALUATION",
                  "IMPROVEMENT"
                ]
              }
            }
          },
          {
            "name": "isms2022Category",
            "required": false,
            "in": "query",
            "description": "Filter controls on their ISMS requirements",
            "schema": {
              "example": [
                "CONTEXT_OF_THE_ORGANIZATION",
                "LEADERSHIP"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CONTEXT_OF_THE_ORGANIZATION",
                  "LEADERSHIP",
                  "PLANNING",
                  "SUPPORT",
                  "OPERATION",
                  "PERFORMANCE_EVALUATION",
                  "IMPROVEMENT"
                ]
              }
            }
          },
          {
            "name": "isAnnexA2022",
            "required": false,
            "in": "query",
            "description": "Filter controls on if they are an Annex A requirement",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          },
          {
            "name": "rules",
            "required": false,
            "in": "query",
            "description": "Filter controls on their Hipaa rules",
            "schema": {
              "example": [
                "BREACH_NOTIFICATION",
                "PRIVACY"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "SECURITY",
                  "BREACH_NOTIFICATION",
                  "PRIVACY"
                ]
              }
            }
          },
          {
            "name": "subRules",
            "required": false,
            "in": "query",
            "description": "Filter controls on their Hipaa rules",
            "schema": {
              "example": [
                "GENERAL_RULES",
                "ADMINISTRATIVE_SAFEGUARDS"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "GENERAL_RULES",
                  "ADMINISTRATIVE_SAFEGUARDS",
                  "PHYSICAL_SAFEGUARDS",
                  "TECHNICAL_SAFEGUARDS",
                  "REQUIREMENTS_ORGANIZATION",
                  "REQUIREMENTS_POLICIES_PROCEDURES"
                ]
              }
            }
          },
          {
            "name": "pciRequirements",
            "required": false,
            "in": "query",
            "description": "Filter controls on their PCI requirements",
            "schema": {
              "example": [
                "FIREWALL",
                "ACCESS_RESTRICTION"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "FIREWALL",
                  "PASSWORDS",
                  "DATA_AT_REST_PROTECTION",
                  "DATA_IN_TRANSIT_ENCRYPTION",
                  "MALWARE_PROTECTION",
                  "SECURE_SYSTEM_MANAGEMENT",
                  "ACCESS_RESTRICTION",
                  "SYSTEM_ACCESS_CONTROL",
                  "PHYSICAL_ACCESS_CONTROL",
                  "NETWORK_ACCESS_MONITORING",
                  "VULNERABILITY_TESTING",
                  "INFORMATION_SECURITY_POLICY"
                ]
              }
            }
          },
          {
            "name": "chapters",
            "required": false,
            "in": "query",
            "description": "Filter controls on their GDPR chapters",
            "schema": {
              "example": [
                "CONTROLLER_AND_PROCESSOR",
                "PRINCIPLES"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "PRINCIPLES",
                  "RIGHTS_OF_THE_DATA_SUBJECT",
                  "CONTROLLER_AND_PROCESSOR",
                  "TRANSFERS_OF_PERSONNEL_DATA_TO_THIRD_COUNTRIES_OR_INTERNATIONAL_ORGANIZATIONS"
                ]
              }
            }
          },
          {
            "name": "statutes",
            "required": false,
            "in": "query",
            "description": "Filter controls on their CCPA statutes",
            "schema": {
              "example": [
                "INDIVIDUAL_RIGHTS",
                "SERVICE_PROVIDER"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "INDIVIDUAL_RIGHTS",
                  "SERVICE_PROVIDER",
                  "SECURITY"
                ]
              }
            }
          },
          {
            "name": "regulations",
            "required": false,
            "in": "query",
            "description": "Filter controls on their CCPA regulations",
            "schema": {
              "example": [
                "BUSINESS_PRACTICES_FOR_HANDLING_CONSUMER_REQUESTS",
                "NON_DISCRIMINATION"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "NOTICES_TO_CONSUMERS",
                  "BUSINESS_PRACTICES_FOR_HANDLING_CONSUMER_REQUESTS",
                  "VERIFICATION_OF_REQUESTS",
                  "SPECIAL_RULES_REGARDING_CONSUMERS_UNDER_16_YEARS_OF_AGE",
                  "NON_DISCRIMINATION",
                  "GENERAL_PROVISIONS",
                  "REQUIRED_DISCLOSURES_TO_CONSUMERS",
                  "SERVICE_PROVIDERS_CONTRACTORS_AND_THIRD_PARTIES",
                  "TRAINING_AND_RECORD_KEEPING"
                ]
              }
            }
          },
          {
            "name": "functions",
            "required": false,
            "in": "query",
            "description": "Filter controls on their NIST CSF Functions",
            "schema": {
              "example": [
                "RECOVER",
                "RESPOND"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "IDENTIFY",
                  "PROTECT",
                  "DETECT",
                  "RESPOND",
                  "RECOVER"
                ]
              }
            }
          },
          {
            "name": "functions2",
            "required": false,
            "in": "query",
            "description": "Filter controls on their NIST CSF 2.0 Functions",
            "schema": {
              "example": [
                "GOVERN_GV",
                "IDENTIFY_ID"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "GOVERN_GV",
                  "IDENTIFY_ID",
                  "PROTECT_PR",
                  "DETECT_DE",
                  "RESPOND_RS",
                  "RECOVER_RC"
                ]
              }
            }
          },
          {
            "name": "sections",
            "required": false,
            "in": "query",
            "description": "Filter controls on their MSSSPA Section",
            "schema": {
              "example": [
                "DATA_SUBJECTS",
                "CHOICE_AND_CONSENT"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "MANAGEMENT",
                  "NOTICE",
                  "CHOICE_AND_CONSENT",
                  "COLLECTION",
                  "RETENTION",
                  "DATA_SUBJECTS",
                  "DISCLOSURE_TO_THIRD_PARTIES",
                  "QUALITY",
                  "MONITORING_AND_ENFORCEMENT",
                  "SECURITY"
                ]
              }
            }
          },
          {
            "name": "controlFamilies",
            "required": false,
            "in": "query",
            "description": "Filter controls on their NIST SP 800-171 Control Family",
            "schema": {
              "example": [
                "ACCESS_CONTROL",
                "PERSONNEL_SECURITY"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AUDIT_AND_ACCOUNTABILITY",
                  "CONFIGURATION_MANAGEMENT",
                  "IDENTIFICATION_AND_AUTHENTICATION",
                  "INCIDENT_RESPONSE",
                  "MEDIA_PROTECTION",
                  "PERSONNEL_SECURITY",
                  "PHYSICAL_PROTECTION",
                  "SECURITY_ASSESSMENT",
                  "SYSTEM_AND_COMMUNICATIONS_PROTECTION",
                  "SYSTEM_AND_INFORMATION_INTEGRITY",
                  "ACCESS_CONTROL",
                  "AWARENESS_AND_TRAINING",
                  "MAINTENANCE",
                  "RISK_ASSESSMENT"
                ]
              }
            }
          },
          {
            "name": "controlClasses",
            "required": false,
            "in": "query",
            "description": "Filter controls on their NIST SP 800-171 Control Class",
            "schema": {
              "example": [
                "TECHNICAL"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "TECHNICAL",
                  "OPERATIONAL",
                  "MANAGEMENT"
                ]
              }
            }
          },
          {
            "name": "iso27701",
            "required": false,
            "in": "query",
            "description": "Filter controls on their ISO27701 requirements",
            "schema": {
              "example": [
                "ANNEX_A_CONDITIONS_FOR_COLLECTION_AND_PROCESSING"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "PIMS_SPECIFIC_REQUIREMENTS",
                  "PIMS_SPECIFIC_GUIDANCE",
                  "ANNEX_B_CONDITIONS_FOR_COLLECTION_AND_PROCESSING",
                  "ANNEX_B_OBLIGATIONS_TO_PII_PRINCIPLES",
                  "ANNEX_B_PRIVACY_BY_DESIGN_AND_PRIVACY_BY_DEFAULT",
                  "ANNEX_B_PII_SHARING_TRANSFER_AND_DISCLOSURE",
                  "ANNEX_A_CONDITIONS_FOR_COLLECTION_AND_PROCESSING",
                  "ANNEX_A_OBLIGATIONS_TO_PII_PRINCIPALS",
                  "ANNEX_A_PRIVACY_BY_DESIGN_AND_PRIVACY_BY_DEFAULT",
                  "ANNEX_A_PII_SHARING_TRANSFER_AND_DISCLOSURE"
                ]
              }
            }
          },
          {
            "name": "cobit",
            "required": false,
            "in": "query",
            "description": "Filter controls on their COBIT requirements",
            "schema": {
              "example": [
                "ALIGN_PLAN_AND_ORGANIZE"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "EVALUATE_DIRECT_AND_MONITOR",
                  "ALIGN_PLAN_AND_ORGANIZE",
                  "BUILD_ACQUIRE_AND_IMPLEMENT",
                  "DELIVER_SERVICE_AND_SUPPORT",
                  "MONITOR_EVALUATE_AND_ASSESS"
                ]
              }
            }
          },
          {
            "name": "soxitgc",
            "required": false,
            "in": "query",
            "description": "Filter controls on their SOX requirements",
            "schema": {
              "example": [
                "PROGRAM_DEVELOPMENT"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "PROGRAM_DEVELOPMENT",
                  "CHANGE_MANAGEMENT",
                  "SYSTEM_OPERATIONS",
                  "ACCESS_MANAGEMENT"
                ]
              }
            }
          },
          {
            "name": "controlBaselines",
            "required": false,
            "in": "query",
            "description": "Filter controls on their NIST SP 800-53 Control Baseline",
            "schema": {
              "example": [
                "OPERATIONAL"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "TECHNICAL",
                  "OPERATIONAL",
                  "MANAGEMENT"
                ]
              }
            }
          },
          {
            "name": "cmmcClasses",
            "required": false,
            "in": "query",
            "description": "Filter controls on their NIST SP 800-53 Control Baseline",
            "schema": {
              "example": [
                "MANAGEMENT"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "TECHNICAL",
                  "OPERATIONAL",
                  "MANAGEMENT"
                ]
              }
            }
          },
          {
            "name": "domains",
            "required": false,
            "in": "query",
            "description": "Filter controls on their FFIEC Domains",
            "schema": {
              "example": [
                "CYBERSECURITY_CONTROLS"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CYBER_RISK_MANAGEMENT_AND_OVERSIGHT",
                  "THREAT_INTELLIGENCE_AND_COLLABORATION",
                  "CYBERSECURITY_CONTROLS",
                  "EXTERNAL_DEPENDENCY_MANAGEMENT",
                  "CYBER_INCIDENT_MANAGEMENT_AND_RESILIENCE"
                ]
              }
            }
          },
          {
            "name": "assessmentFactors",
            "required": false,
            "in": "query",
            "description": "Filter controls on their FFIEC Assessment Factors",
            "schema": {
              "example": [
                "GOVERNANCE"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "GOVERNANCE",
                  "RISK_MANAGEMENT",
                  "RESOURCES",
                  "TRAINING_AND_CULTURE",
                  "THREAT_INTELLIGENCE",
                  "MONITORING_AND_ANALYZING",
                  "INFORMATION_SHARING",
                  "PREVENTATIVE_CONTROLS",
                  "DETECTIVE_CONTROLS",
                  "CORRECTIVE_CONTROLS",
                  "CONNECTIONS",
                  "RELATIONSHIP_MANAGEMENT",
                  "INCIDENT_RESILIENCE_PLANNING_AND_STRATEGY",
                  "DETECTION_RESPONSE_AND_MITIGATION",
                  "ESCALATION_AND_REPORTING"
                ]
              }
            }
          },
          {
            "name": "articles",
            "required": false,
            "in": "query",
            "description": "Filters controls by their NIS 2 Articles",
            "schema": {
              "example": [
                "GOVERNANCE"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "GOVERNANCE",
                  "RISK_MANAGEMENT",
                  "REPORTING"
                ]
              }
            }
          },
          {
            "name": "doraChapters",
            "required": false,
            "in": "query",
            "description": "Filters controls by their DORA Standards",
            "schema": {
              "example": [
                "ICT_RMF_RTS"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "REGULATION",
                  "ICT_RMF_RTS"
                ]
              }
            }
          },
          {
            "name": "drataFunctions",
            "required": false,
            "in": "query",
            "description": "Filters controls by their Drata Essentials Function",
            "schema": {
              "example": [
                "DETECT"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "PROTECT",
                  "RECOVER",
                  "RESPOND",
                  "IDENTIFY",
                  "DETECT",
                  "GOVERN"
                ]
              }
            }
          },
          {
            "name": "iso420012023",
            "required": false,
            "in": "query",
            "description": "Filters controls by their ISO42001 Sections",
            "schema": {
              "example": [
                "AI_SYSTEM_LIFE_CYCLE"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "RESOURCES_FOR_AI_SYSTEMS",
                  "INTERNAL_ORGANIZATION",
                  "AI_SYSTEM_LIFE_CYCLE",
                  "ASSESSING_IMPACTS_OF_AI_SYSTEMS",
                  "DATA_FOR_AI_SYSTEMS",
                  "INFORMATION_FOR_INTERESTED_PARTIES_OF_AI_SYSTEMS",
                  "USE_OF_AI_SYSTEMS",
                  "THIRD_PARTY_AND_CUSTOMER_RELATIONSHIPS",
                  "POLICIES_RELATED_TO_AI",
                  "SUPPORT",
                  "OPERATION",
                  "CONTEXT_OF_THE_ORGANIZATION",
                  "PERFORMANCE_EVALUATION",
                  "PLANNING",
                  "LEADERSHIP",
                  "IMPROVEMENT"
                ]
              }
            }
          },
          {
            "name": "nist800171r3ControlFamilies",
            "required": false,
            "in": "query",
            "description": "Filter controls on their NIST SP 800-171 R3 Control Family",
            "schema": {
              "example": [
                "ACCESS_CONTROL",
                "PERSONNEL_SECURITY"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "INCIDENT_RESPONSE",
                  "SUPPLY_CHAIN_RISK_MANAGEMENT",
                  "MEDIA_PROTECTION",
                  "AUDIT_AND_ACCOUNTABILITY",
                  "ACCESS_CONTROL",
                  "PHYSICAL_PROTECTION",
                  "CONFIGURATION_MANAGEMENT",
                  "SYSTEM_AND_COMMUNICATIONS_PROTECTION",
                  "IDENTIFICATION_AND_AUTHENTICATION",
                  "PLANNING",
                  "MAINTENANCE",
                  "RISK_ASSESSMENT",
                  "SYSTEM_AND_INFORMATION_INTEGRITY",
                  "SECURITY_ASSESSMENT_AND_MONITORING",
                  "SYSTEM_AND_SERVICES_ACQUISITION",
                  "AWARENESS_AND_TRAINING",
                  "PERSONNEL_SECURITY"
                ]
              }
            }
          },
          {
            "name": "nist800171r3ControlClasses",
            "required": false,
            "in": "query",
            "description": "Filter controls on their NIST SP 800-171 R3 Control Class",
            "schema": {
              "example": [
                "TECHNICAL"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "OPERATIONAL",
                  "MANAGEMENT",
                  "TECHNICAL"
                ]
              }
            }
          },
          {
            "name": "cisSafeguards",
            "required": false,
            "in": "query",
            "description": "Filter controls on their NIST SP 800-171 R3 Control Class",
            "schema": {
              "example": [
                "ACCESS_CONTROL_MANAGEMENT"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "SERVICE_PROVIDER_MANAGEMENT",
                  "DATA_PROTECTION",
                  "DATA_RECOVERY",
                  "CONTINUOUS_VULNERABILITY_MANAGEMENT",
                  "APPLICATION_SOFTWARE_SECURITY",
                  "ACCESS_CONTROL_MANAGEMENT",
                  "INVENTORY_AND_CONTROL_OF_SOFTWARE_ASSETS",
                  "NETWORK_INFRASTRUCTURE_MANAGEMENT",
                  "EMAIL_AND_WEB_BROWSER_PROTECTIONS",
                  "NETWORK_MONITORING_AND_DEFENSE",
                  "AUDIT_LOG_MANAGEMENT",
                  "SECURE_CONFIGURATION_OF_ENTERPRISE_ASSETS_AND_SOFTWARE",
                  "INVENTORY_AND_CONTROL_OF_ENTERPRISE_ASSETS",
                  "MALWARE_DEFENSES",
                  "SECURITY_AWARENESS_AND_SKILLS_TRAINING",
                  "PENETRATION_TESTING",
                  "ACCOUNT_MANAGEMENT",
                  "INCIDENT_RESPONSE_MANAGEMENT"
                ]
              }
            }
          },
          {
            "name": "cyberEssentialsRequirements",
            "required": false,
            "in": "query",
            "description": "Filter controls on their Cyber Essentials v3.2 Requirements",
            "schema": {
              "example": [
                "FIREWALLS"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "MALWARE_PROTECTION",
                  "DEVICE_UNLOCKING_METHOD",
                  "FIREWALLS",
                  "PASSWORD_BASED_AUTHENTICATION",
                  "SECURITY_UPDATE_MANAGEMENT",
                  "SCOPE",
                  "ADMINISTRATIVE_ACCOUNTS",
                  "SECURE_CONFIGURATION",
                  "USER_ACCESS_CONTROL"
                ]
              }
            }
          },
          {
            "name": "fr20xKSIs",
            "required": false,
            "in": "query",
            "description": "Filter controls on their FedRAMP 20x Requirements",
            "schema": {
              "example": [
                "CHANGE_MANAGEMENT"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "POLICY_AND_INVENTORY",
                  "SERVICE_CONFIGURATION",
                  "MONITORING_LOGGING_AND_AUDITING",
                  "CHANGE_MANAGEMENT",
                  "CLOUD_NATIVE_ARCHITECTURE",
                  "THIRD_PARTY_INFORMATION_RESOURCES",
                  "IDENTITY_AND_ACCESS_MANAGEMENT",
                  "INCIDENT_REPORTING",
                  "CYBERSECURITY_EDUCATION",
                  "RECOVERY_PLANNING"
                ]
              }
            }
          },
          {
            "name": "hitrustDomains",
            "required": false,
            "in": "query",
            "description": "Filter controls on their HITRUST Requirements",
            "schema": {
              "example": [
                "ACCESS_CONTROL"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "EDUCATION_TRAINING_AND_AWARENESS",
                  "DATA_PROTECTION_AND_PRIVACY",
                  "PHYSICAL_AND_ENVIRONMENTAL_SECURITY",
                  "AUDIT_LOGGING_AND_MONITORING",
                  "INFORMATION_PROTECTION_PROGRAM",
                  "TRANSMISSION_PROTECTION",
                  "THIRD_PARTY_ASSURANCE",
                  "RISK_MANAGEMENT",
                  "ACCESS_CONTROL",
                  "PASSWORD_MANAGEMENT",
                  "VULNERABILITY_MANAGEMENT",
                  "BUSINESS_CONTINUITY_AND_DISASTER_RECOVERY",
                  "MOBILE_DEVICE_SECURITY",
                  "INCIDENT_MANAGEMENT",
                  "ENDPOINT_PROTECTION",
                  "CONFIGURATION_MANAGEMENT",
                  "NETWORK_PROTECTION",
                  "PORTABLE_MEDIA_SECURITY",
                  "WIRELESS_SECURITY"
                ]
              }
            }
          },
          {
            "name": "mssspa11Sections",
            "required": false,
            "in": "query",
            "description": "Filter controls on their MSSSPA V11 Section",
            "schema": {
              "example": [
                "SSPAV11_SECURITY"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "SSPAV11_SECURITY",
                  "SSPAV11_AI_SYSTEMS",
                  "SSPAV11_RETENTION",
                  "SSPAV11_MANAGEMENT",
                  "SSPAV11_COLLECTION",
                  "SSPAV11_QUALITY",
                  "SSPAV11_CHOICE_AND_CONSENT",
                  "SSPAV11_DATA_SUBJECTS",
                  "SSPAV11_MONITORING_AND_ENFORCEMENT",
                  "SSPAV11_NOTICE",
                  "SSPAV11_SUBCONTRACTORS"
                ]
              }
            }
          },
          {
            "name": "essentialEight",
            "required": false,
            "in": "query",
            "description": "Filter controls on their Essential Eight",
            "schema": {
              "example": [
                "ESSENTIAL_EIGHT_APPLICATION_CONTROL"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ESSENTIAL_EIGHT_PATCH_OPERATING_SYSTEMS",
                  "ESSENTIAL_EIGHT_MULTI_FACTOR_AUTHENTICATION",
                  "ESSENTIAL_EIGHT_REGULAR_BACKUPS",
                  "ESSENTIAL_EIGHT_APPLICATION_CONTROL",
                  "ESSENTIAL_EIGHT_RESTRICT_ADMINISTRATIVE_PRIVILEGES",
                  "ESSENTIAL_EIGHT_USER_APPLICATION_HARDENING",
                  "ESSENTIAL_EIGHT_RESTRICT_MICROSOFT_OFFICE_MACROS",
                  "ESSENTIAL_EIGHT_PATCH_APPLICATIONS"
                ]
              }
            }
          },
          {
            "name": "nydfs",
            "required": false,
            "in": "query",
            "description": "Filter controls on their NYDFS",
            "schema": {
              "example": [
                "NYDFS_ACCESS_PRIVILEGES_AND_MANAGEMENT"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "NYDFS_VULNERABILITY_MANAGEMENT",
                  "NYDFS_ACCESS_PRIVILEGES_AND_MANAGEMENT",
                  "NYDFS_THIRD_PARTY_SERVICE_PROVIDER_SECURITY",
                  "NYDFS_NOTICES_TO_SUPERINTENDENT",
                  "NYDFS_INCIDENT_RESPONSE_AND_BUSINESS_CONTINUITY_MANAGEMENT",
                  "NYDFS_CYBERSECURITY_PERSONNEL_AND_INTELLIGENCE",
                  "NYDFS_CYBERSECURITY_POLICY",
                  "NYDFS_ENCRYPTION_OF_NONPUBLIC_INFORMATION",
                  "NYDFS_AUDIT_TRAIL",
                  "NYDFS_CYBERSECURITY_GOVERNANCE",
                  "NYDFS_ASSET_MANAGEMENT_AND_DATA_RETENTION",
                  "NYDFS_MULTI_FACTOR_AUTHENTICATION",
                  "NYDFS_MONITORING_AND_TRAINING",
                  "NYDFS_CYBERSECURITY_PROGRAM",
                  "NYDFS_APPLICATION_SECURITY",
                  "NYDFS_RISK_ASSESSMENT"
                ]
              }
            }
          },
          {
            "name": "tisaxCategory",
            "required": false,
            "in": "query",
            "description": "Filter controls on their TISAX Category",
            "schema": {
              "example": [
                "TISAX_DATA_PROTECTION"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "TISAX_DATA_PROTECTION",
                  "TISAX_IT_SECURITY_CYBER_SECURITY",
                  "TISAX_PROTOTYPE_PROTECTION",
                  "TISAX_IS_POLICIES_AND_ORGANIZATION",
                  "TISAX_COMPLIANCE",
                  "TISAX_PHYSICAL_SECURITY",
                  "TISAX_IDENTITY_AND_ACCESS_MANAGEMENT",
                  "TISAX_HUMAN_RESOURCES",
                  "TISAX_SUPPLIER_RELATIONSHIPS"
                ]
              }
            }
          },
          {
            "name": "tisaxSubcategory",
            "required": false,
            "in": "query",
            "description": "Filter controls on their TISAX Subcategory",
            "schema": {
              "example": [
                "TISAX_ORGANIZATION_OF_DATA_PROTECTION"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "TISAX_INFORMATION_SECURITY_POLICIES",
                  "TISAX_ORGANIZATION_OF_INFORMATION_SECURITY",
                  "TISAX_ASSET_MANAGEMENT",
                  "TISAX_IS_RISK_MANAGEMENT",
                  "TISAX_ASSESSMENTS",
                  "TISAX_INCIDENT_AND_CRISIS_MANAGEMENT",
                  "TISAX_IDENTITY_MANAGEMENT",
                  "TISAX_ACCESS_MANAGEMENT",
                  "TISAX_CRYPTOGRAPHY",
                  "TISAX_OPERATIONS_SECURITY",
                  "TISAX_SYSTEM_ACQUISITIONS_REQUIREMENT_MANAGEMENT_AND_DEVELOPMENT",
                  "TISAX_PHYSICAL_AND_ENVIRONMENTAL_SECURITY",
                  "TISAX_ORGANIZATIONAL_REQUIREMENTS",
                  "TISAX_HANDLING_OF_VEHICLES_COMPONENTS_AND_PARTS",
                  "TISAX_REQUIREMENTS_FOR_TRIAL_VEHICLES",
                  "TISAX_REQUIREMENTS_FOR_EVENTS_AND_SHOOTINGS",
                  "TISAX_DATA_PROTECTION_POLICIES",
                  "TISAX_ORGANIZATION_OF_DATA_PROTECTION",
                  "TISAX_PROCESSING_DIRECTORY",
                  "TISAX_DATA_PROTECTION_IMPACT_ASSESSMENT",
                  "TISAX_DATA_TRANSFERS",
                  "TISAX_HANDLING_REQUESTS_AND_INCIDENTS",
                  "TISAX_HUMAN_RESOURCES",
                  "TISAX_INSTRUCTIONS"
                ]
              }
            }
          },
          {
            "name": "iso270182025Clause",
            "required": false,
            "in": "query",
            "description": "Filter controls on their ISO270182025 Clause",
            "schema": {
              "example": [
                "ISO270182025_ACCOUNTABILITY"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ISO270182025_PEOPLE_CONTROLS",
                  "ISO270182025_ORGANIZATIONAL_CONTROLS",
                  "ISO270182025_INFORMATION_SECURITY",
                  "ISO270182025_TECHNOLOGICAL_CONTROLS",
                  "ISO270182025_CONSENT_AND_CHOICE",
                  "ISO270182025_ACCOUNTABILITY",
                  "ISO270182025_PRIVACY_COMPLIANCE",
                  "ISO270182025_USE_RETENTION_AND_DISCLOSURE_LIMITATION",
                  "ISO270182025_PURPOSE_LEGITIMACY_AND_SPECIFICATION",
                  "ISO270182025_DATA_MINIMIZATION",
                  "ISO270182025_PHYSICAL_CONTROLS",
                  "ISO270182025_OPENNESS_TRANSPARENCY_AND_NOTICE"
                ]
              }
            }
          },
          {
            "name": "ccpa2026Statutes",
            "required": false,
            "in": "query",
            "description": "Filter controls on their CCPA (2026) statutes",
            "schema": {
              "example": [
                "CCPA2026_INDIVIDUAL_RIGHTS",
                "CCPA2026_INDIVIDUAL_RIGHTS"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CCPA2026_INDIVIDUAL_RIGHTS",
                  "CCPA2026_SERVICE_PROVIDER",
                  "CCPA2026_SECURITY"
                ]
              }
            }
          },
          {
            "name": "ccpa2026Regulations",
            "required": false,
            "in": "query",
            "description": "Filter controls on their CCPA (2026) regulations",
            "schema": {
              "example": [
                "CCPA2026_CONSUMER_REQUESTS",
                "CCPA2026_GENERAL_PROVISIONS"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CCPA2026_CONSUMER_REQUESTS",
                  "CCPA2026_RISK_ASSESSMENTS",
                  "CCPA2026_SERVICE_PROVIDERS_CONTRACTORS_THIRD_PARTIES",
                  "CCPA2026_CYBERSECURITY_AUDITS",
                  "CCPA2026_REQUIRED_DISCLOSURES_TO_CONSUMERS",
                  "CCPA2026_VERIFICATION",
                  "CCPA2026_NON_DISCRIMINATION",
                  "CCPA2026_GENERAL_PROVISIONS",
                  "CCPA2026_SPECIAL_RULES_REGARDING_CONSUMERS_LESS_THAN_16_YEARS_OF_AGE",
                  "CCPA2026_AUTOMATED_DECISIONMAKING_TECHNOLOGY",
                  "CCPA2026_TRAINING_AND_RECORDKEEPING",
                  "CCPA2026_INSURANCE_COMPANIES"
                ]
              }
            }
          },
          {
            "name": "iso277012025Clause",
            "required": false,
            "in": "query",
            "description": "Filter controls on their ISO/IEC 27701:2025 Clause",
            "schema": {
              "example": [
                "ISO277012025_CONTEXT_OF_THE_ORGANIZATION"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ISO277012025_CONTEXT_OF_THE_ORGANIZATION",
                  "ISO277012025_LEADERSHIP",
                  "ISO277012025_PLANNING",
                  "ISO277012025_SUPPORT",
                  "ISO277012025_OPERATION",
                  "ISO277012025_PERFORMANCE_EVALUATION",
                  "ISO277012025_IMPROVEMENT",
                  "ISO277012025_CONDITIONS_FOR_COLLECTION_AND_PROCESSING",
                  "ISO277012025_SECURITY_CONSIDERATIONS",
                  "ISO277012025_PRIVACY_BY_DESIGN_AND_PRIVACY_BY_DEFAULT",
                  "ISO277012025_PII_SHARING_TRANSFER_AND_DISCLOSURE",
                  "ISO277012025_OBLIGATIONS_TO_PII_PRINCIPALS"
                ]
              }
            }
          },
          {
            "name": "cps230Paragraphs",
            "required": false,
            "in": "query",
            "description": "Filter controls on their CPS 230 Paragraph",
            "schema": {
              "example": [
                "CPS_230_BUSINESS_CONTINUITY"
              ],
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CPS_230_BUSINESS_CONTINUITY",
                  "CPS_230_OPERATIONAL_RISK_MANAGEMENT",
                  "CPS_230_RISK_MANAGEMENT_FRAMEWORK",
                  "CPS_230_KEY_PRINCIPLES",
                  "CPS_230_MANAGEMENT_OF_SERVICE_PROVIDER_ARRANGEMENTS",
                  "CPS_230_ROLES_AND_RESPONSIBILITIES"
                ]
              }
            }
          },
          {
            "name": "userIds",
            "required": false,
            "in": "query",
            "description": "User Ids of Control Owners",
            "schema": {
              "example": [
                1
              ],
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          {
            "name": "isOwned",
            "required": false,
            "in": "query",
            "description": "Filter controls on if they have a control owner",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          },
          {
            "name": "isReady",
            "required": false,
            "in": "query",
            "description": "Filter controls on if they are ready",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          },
          {
            "name": "isAnnexA",
            "required": false,
            "in": "query",
            "description": "Filter controls on if they are an Annex A requirement",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          },
          {
            "name": "isArchived",
            "required": false,
            "in": "query",
            "description": "Filter to controls that are or are not archived",
            "schema": {
              "example": false,
              "type": "boolean"
            }
          },
          {
            "name": "isMonitored",
            "required": false,
            "in": "query",
            "description": "Filter to controls that are or are not monitored",
            "schema": {
              "example": false,
              "type": "boolean"
            }
          },
          {
            "name": "hasEvidence",
            "required": false,
            "in": "query",
            "description": "Filter to controls with or without evidence",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          },
          {
            "name": "hasPolicy",
            "required": false,
            "in": "query",
            "description": "Filter to controls with or without policy",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          },
          {
            "name": "hasPassingTest",
            "required": false,
            "in": "query",
            "description": "Filter to controls with at least one passing test",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          },
          {
            "name": "excludeIds",
            "required": false,
            "in": "query",
            "description": "Exclude controls by array of id",
            "schema": {
              "example": [],
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          {
            "name": "excludeRequirementId",
            "required": false,
            "in": "query",
            "description": "Exclude controls if they are mapped to this requirement id",
            "schema": {
              "example": [],
              "type": "number"
            }
          },
          {
            "name": "requirementId",
            "required": false,
            "in": "query",
            "description": "Only include controls if they are mapped to this requirement id",
            "schema": {
              "example": [],
              "type": "number"
            }
          },
          {
            "name": "excludeTestId",
            "required": false,
            "in": "query",
            "description": "Exclude controls if they are mapped to this test id",
            "schema": {
              "example": [],
              "type": "number"
            }
          },
          {
            "name": "testId",
            "required": false,
            "in": "query",
            "description": "Only include controls if they are mapped to this test id",
            "schema": {
              "example": [],
              "type": "number"
            }
          },
          {
            "name": "hasTicket",
            "required": false,
            "in": "query",
            "description": "Only include controls if they associted to a task management ticket",
            "schema": {
              "example": 0,
              "enum": [
                "IN_PROGRESS",
                "ARCHIVED"
              ],
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "required": false,
            "in": "query",
            "description": "This will be filled in automatic when using a taskManagementStatus.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "reviewersIds",
            "required": false,
            "in": "query",
            "description": "User Ids of Control Reviewers",
            "schema": {
              "example": [
                1
              ],
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          {
            "name": "taskOwnersIds",
            "required": false,
            "in": "query",
            "description": "User Ids of TaskOwners",
            "schema": {
              "example": [
                1
              ],
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          {
            "name": "workspaceId",
            "required": false,
            "in": "query",
            "description": "ID of the workspace associated with the controls",
            "schema": {
              "example": 1,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlPaginatedResponsePublicDto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Find controls by search terms and filters",
        "tags": [
          "Controls"
        ],
        "x-drata-permissions": [
          "controls-get"
        ],
        "x-product-area": [
          "REQUIREMENTS_FRAMEWORKS"
        ]
      }
    },
    "/controls/{id}/external-evidence": {
      "get": {
        "description": "Get all mapped external evidence to a control\n\n🔒 Requires **Controls: Map External Evidence** permission.",
        "operationId": "GRCPublicController_getMappedExternalEvidence",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Which page of data are you requesting",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "How many items are you requesting",
            "schema": {
              "minimum": 1,
              "maximum": 50,
              "default": 20,
              "type": "number"
            }
          },
          {
            "name": "excludeIds",
            "required": false,
            "in": "query",
            "description": "Exclude external evidence by array of id",
            "schema": {
              "example": [],
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public Api",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MappedExternalEvidencePaginatedResponsePublicDto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Find control external evidence by control id",
        "tags": [
          "Controls"
        ],
        "x-drata-permissions": [
          "external-evidence-get"
        ],
        "x-product-area": [
          "REQUIREMENTS_FRAMEWORKS"
        ]
      }
    },
    "/external-evidence/{id}/download": {
      "get": {
        "description": "Get signed download link for external evidence\n\n🔒 Requires **Controls: Map External Evidence** permission.",
        "operationId": "GRCPublicController_getEvidenceDownloadUrl",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedUrlResponsePublicDto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get external evidence document download url by document id",
        "tags": [
          "Controls"
        ],
        "x-drata-permissions": [
          "external-evidence-get-download-document"
        ],
        "x-product-area": [
          "REQUIREMENTS_FRAMEWORKS"
        ]
      }
    },
    "/workspaces/{workspaceId}/controls/{id}/external-evidence": {
      "post": {
        "description": "Upload external evidence to map to a control\n\n🔒 Requires **Controls: Map External Evidence** permission.",
        "operationId": "GRCPublicController_uploadExternalEvidence",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "workspaceId",
            "required": true,
            "in": "path",
            "description": "The Workspace ID associated to the Account",
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadEvidencePublicDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadEvidencePublicDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MappedExternalEvidenceResponsePublicDto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "413": {
            "description": "The file was too large to upload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "503": {
            "description": "Third party system was unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Upload external evidence document by control id",
        "tags": [
          "Controls"
        ],
        "x-drata-permissions": [
          "external-evidence-post"
        ],
        "x-product-area": [
          "REQUIREMENTS_FRAMEWORKS"
        ]
      }
    },
    "/workspaces/{workspaceId}/controls/{controlId}": {
      "get": {
        "description": "List all the information for a specific control\n\n🔒 Requires **Controls: Get Control** permission.",
        "operationId": "GRCPublicController_getControlById",
        "parameters": [
          {
            "name": "controlId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "workspaceId",
            "required": true,
            "in": "path",
            "description": "The Workspace ID associated to the Account",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlShortResponsePublicDto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Find control by control id",
        "tags": [
          "Controls"
        ],
        "x-drata-permissions": [
          "controls-get-control"
        ],
        "x-product-area": [
          "REQUIREMENTS_FRAMEWORKS"
        ]
      },
      "put": {
        "description": "Edit control\n\n🔒 Requires **Controls: Update Control** permission.",
        "operationId": "GRCPublicController_editControl",
        "parameters": [
          {
            "name": "controlId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "workspaceId",
            "required": true,
            "in": "path",
            "description": "The Workspace ID associated to the Account",
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditControlRequestPublicDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlShortResponsePublicDto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Edit control of the account",
        "tags": [
          "Controls"
        ],
        "x-drata-permissions": [
          "controls-put"
        ],
        "x-product-area": [
          "REQUIREMENTS_FRAMEWORKS"
        ]
      }
    },
    "/workspaces/{workspaceId}/controls/{controlId}/evidence/download": {
      "get": {
        "description": "Download zip with all control evidence\n\n🔒 Requires **Controls: Download All Control evidence** permission.",
        "operationId": "GRCPublicController_getDownloadAllEvidence",
        "parameters": [
          {
            "name": "controlId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "workspaceId",
            "required": true,
            "in": "path",
            "description": "The Workspace ID associated to the Account",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedUrlResponsePublicDto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "You are not allowed to perform this action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "412": {
            "description": "You must accept the Drata terms and conditions to use the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get control evidence download url by control id",
        "tags": [
          "Controls"
        ],
        "x-drata-permissions": [
          "controls-get-download-all-evidence"
        ],
        "x-product-area": [
          "REQUIREMENTS_FRAMEWORKS"
        ]
      }
    },
    "/controls/{id}/requirements": {
      "get": {
        "description": "Get all mapped requirements from a control id\n\n🔒 Requires **Controls: Get Control** permission.",
        "operationId": "GRCPublicController_getMappedRequirements",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Which page of data are you requesting",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "How many items are you requesting",
            "schema": {
              "minimum": 1,
              "maximum": 50,
              "default": 20,
              "type": "number"
            }
          },
          {
            "name": "frameworkTag",
            "required": false,
            "in": "query",
            "description": "Filter data by controls associated with these framework tags",
            "schema": {
              "example": [
                "SOC_2",
                "ISO27001"
              ],
              "enum": [
                "NONE",
                "SOC_2",
                "ISO27001",
                "CCPA",
                "GDPR",
                "HIPAA",
                "PCI",
                "SCF",
                "NIST80053",
                "NISTCSF",
                "CMMC",
                "NIST800171",
                "MSSSPA",
                "FFIEC",
                "ISO27701",
                "COBIT",
                "SOX_ITGC",
                "ISO270012022",
                "CCM",
                "CYBER_ESSENTIALS",
                "ISO270172015",
                "ISO270182019",
                "FEDRAMP",
                "NISTAI",
                "PCI4",
                "NISTCSF2",
                "NIS2",
                "DORA",
                "ISO420012023",
                "DRATA_ESSENTIALS",
                "NIST800171R3",
                "CIS8",
                "CYBER_ESSENTIALS_32",
                "FEDRAMP20X",
                "HITRUST",
                "MSSSPA11",
                "ESSENTIAL_EIGHT",
                "NYDFS",
                "TISAX",
                "ISO270182025",
                "CCPA2026",
                "ISO277012025",
                "CPS230",
                "CUSTOM",
                "ALL"
              ],
              "type": "string"
            }
          },
          {
            "name": "excludeIds",
            "required": false,
            "in": "query",
            "description": "Exclude notes by array of id",
            "schema": {
              "example": [],
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          {
            "name": "frameworkSlug",
            "required": false,
            "in": "query",
            "description": "Filter data by controls associated with these framework slugs. This parameter is intended to be used only for custom frameworks",
            "schema": {
              "example": "slug",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequirementPaginatedResponsePublicDto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed data and/or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponsePublicDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authorization",
            "content": {
              "application/json": {
                "schema": {
[...]
